{% extends 'base.html.twig' %}
{% block body %}


	<div class="row py-2 d-flex bg-orange">
        <div class="fs-1 text-center ">
			<h4>Vous pouvez faire votre demande de devis <a href={{path("create_devis")}}>ici</a></h4>
        </div>
	</div>
	
	<div class="row">
			<div class="col-4 py-3 d-flex justify-content-center ">
				<div class="card" style="width: 18rem;">
					<img src="https://placehold.co/300x200" class="card-img-top" alt="...">
					<div class="card-body text-center">
						<h5 class="card-title">Tornado Bath</h5>
						
					</div>
				</div>
			</div>
			<div class="col-4 py-3 d-flex justify-content-center">
				<div class="card" style="width: 18rem;">
					<img src="https://placehold.co/300x200" class="card-img-top" alt="...">
					<div class="card-body text-center">
						<h5 class="card-title">Toilet Fast</h5>
						
					</div>
				</div>
			</div>
			<div class="col-4 py-3 d-flex justify-content-center">
				<div class="card" style="width: 18rem;">
					<img src="https://placehold.co/300x200" class="card-img-top" alt="...">
					<div class="card-body text-center">
						<h5 class="card-title">Clear Eclair</h5>
						
					</div>
				</div>
			</div>
	</div>
	<div class="row mb-5">
		<div class="col-4 py-3 d-flex justify-content-center">
				<div class="card" style="width: 18rem;">
					<img src="https://placehold.co/300x200" class="card-img-top" alt="...">
					<div class="card-body text-center">
						<h5 class="card-title">Laurent Plomberie</h5>
						
					</div>
				</div>
			</div>
			<div class="col-4 py-3 d-flex justify-content-center">
				<div class="card" style="width: 18rem;">
					<img src="https://placehold.co/300x200" class="card-img-top" alt="...">
					<div class="card-body text-center">
						<h5 class="card-title">RDV Electric</h5>
						
					</div>
				</div>
			</div>
			<div class="col-4 py-3 d-flex justify-content-center">
				<div class="card" style="width: 18rem;">
					<img src="https://placehold.co/300x200" class="card-img-top" alt="...">
					<div class="card-body text-center">
						<h5 class="card-title">Fuites Fix</h5>
						
					</div>
				</div>
			</div>
	</div>
	<div class="row d-flex justify-content-center mt-5">
        <div class="fs-3 text-center col-6 bg-info rounded pb-2 pt-2">
        Voir les autres prestataires disponibles en cliquant ici
        </div>	
	</div>
{% endblock %}
