{% extends 'base.html.twig' %}

{% block body %}
	<h1>{{'wip'|trans}}</h1>
	<div class="spinner-border display-2" role="status" style="width:700px; height:700px">
		<span class="visually-hidden">Loading...</span>
	</div>
    MENTIONS LEGALES
En vigueur au 20/03/2024

 
Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs, ci-après l""Utilisateur", du site http://pariscaretakerservices.fr , ci-après le "Site", les présentes mentions légales.

La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.

Ces dernières sont accessibles sur le Site à la rubrique « Mentions légales ».

ARTICLE 1 - L'EDITEUR

L’édition et la direction de la publication du Site est assurée par Byq Byq, domiciliée 21 Rue Erard, dont le numéro de téléphone est _______________, et l'adresse e-mail byqpa2@gmail.com.
 
ci-après l'"Editeur".

ARTICLE 2 - L'HEBERGEUR

L'hébergeur du Site est la société OvhCloud, dont le siège social est situé au 2 rue Kellermann, 59100 Roubaix , avec le numéro de téléphone : _______________ + adresse mail de contact

ARTICLE 3 - ACCES AU SITE

Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance.

En cas de modification, interruption ou suspension du Site, l'Editeur ne saurait être tenu responsable.

ARTICLE 4 - COLLECTE DES DONNEES

Le Site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. 

En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit :
·         via un formulaire de contact ;
 
·         via son espace personnel ;
 
Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site, sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.

Pour plus d’informations, se reporter aux CGU du site http://pariscaretakerservices.fr accessible à la rubrique "CGU" 
Pour plus d’informations, se reporter aux CGV du site http://pariscaretakerservices.fr accessible à la rubrique "CGV" 
Pour plus d'informations en matière de protection des données à caractère personnel , se reporter à la Charte en matière de protection des données à caractère personnel du site http://pariscaretakerservices.fr accessible à la rubrique "Données personnelles"
Pour plus d'informations en matière de cookies, se reporter à la Charte en matière de cookies du site http://pariscaretakerservices.fr accessible à la rubrique "Cookies"


Rédigé sur http://legalplace.fr

{% endblock %}