{% extends 'base.html.twig' %}
{% block body %}
	<h1>{{'wip'|trans}}</h1>
	<div class="spinner-border display-2" role="status" style="width:700px; height:700px">
		<span class="visually-hidden">Loading...</span>
	</div>
	<div modal-render="">
		<div class="lp-doc-container lp-doc-modal" style="overflow: hidden">
			<div id="lp-doc-modal" class="lp-doc" style="margin-left: 0px">
				<div class="page" style="display: block">
					<span data-key="output-1-0">
						<h1 style="text-align: center">
							<span style="font-weight: bold">CONDITIONS GENERALES DE VENTE</span>
						</h1>
						<p style="text-align: center">
							<span style="font-style: italic"></span>
						</p>
						<p style="text-align: center">
							<span style="font-style: italic">En vigueur au
							</span>
							<span style="font-style: italic">20/03/2024</span>
						</p>
						<p style="text-align: center">&nbsp;</p>
						<h1 style="text-align: justify"></h1>
						<h1 style="text-align: left">ARTICLE 1 - Champ d'application</h1>
						<p style="text-align: left">&nbsp;</p>
						<p style="text-align: left">
							Les présentes Conditions Générales de Vente (dites
							            «&nbsp;CGV&nbsp;») s'appliquent, sans restriction ni réserve à
							            l'ensemble des ventes conclues par le Vendeur auprès d'acheteurs non
							            professionnels (« Les Clients ou le Client »), désirant acquérir les
							            produits proposés à la vente (« Les Produits ») par le Vendeur sur
							            le site&nbsp;http://pariscaretakerservices.fr&#xFEFF;. Les Produits
							            proposés à la vente sur le site sont les suivants :
						</p>
						<p style="text-align: left"></p>
						<p style="text-align: left">
							des services allant de la gestion des réservations jusqu'à
							            l’entretien du bien immobilier pour
							<br/>le compte du propriétaire,
							            en passant par l’accueil des clients. Ainsi, de nombreux bailleurs
							            peuvent
							<br/>louer leurs logements sans avoir à gérer les
							            différentes charges inhérentes à la location&#xFEFF;
						</p>
						<p style="text-align: left"></p>
						<p style="text-align: left">
							Les caractéristiques principales des Produits et notamment les
							            spécifications, illustrations et indications de dimensions ou de
							            capacité des Produits, sont présentées sur le site
							            http://pariscaretakerservices.fr &nbsp;ce dont le client est tenu de
							            prendre connaissance avant de commander.
						</p>
						<p style="text-align: left">
							Le choix et l'achat d'un Produit sont de la seule responsabilité du
							            Client.
						</p>
						<p style="text-align: left">
							Les offres de Produits s'entendent dans la limite des stocks
							            disponibles, tels que précisés lors de la passation de la commande.
						</p>
					</span>
					<span data-key="output-268-0">
						<p style="text-align: left"></p>
						<p style="text-align: left">
							Ces CGV sont accessibles à tout moment sur le site
							            http://pariscaretakerservices.fr &nbsp;et prévaudront sur toute
							            autre document.
						</p>
						<p style="text-align: left">
							Le Client déclare avoir pris connaissance des présentes CGV et les
							            avoir acceptées en cochant la case prévue à cet effet avant la mise
							            en œuvre de la procédure de commande en ligne du site
							            http://pariscaretakerservices.fr&#xFEFF;.
						</p>
						<p style="text-align: left">
							Sauf preuve contraire, les données enregistrées dans le système
							            informatique du Vendeur constituent la preuve de l'ensemble des
							            transactions conclues avec le Client.
						</p>
					</span>
					<span data-key="output-270-0">
						<p style="text-align: left"></p>
						<p style="text-align: left">
							Les coordonnées du Vendeur sont les suivantes :
						</p>
						<p style="text-align: left">_______________, _______________</p>
						<p style="text-align: left">
							Capital social de _______________ euros
						</p>
						<p style="text-align: left">
							Immatriculé au RCS de _______________, sous le numéro
							            _______________
						</p>
						<p style="text-align: left">_______________</p>
						<p style="text-align: left">Email : _______________</p>
						<p style="text-align: left">Téléphone : _______________</p>
					</span>
					<span data-key="output-194-0">
						<h1 style="text-align: left"></h1>
						<h1 style="text-align: left">ARTICLE 2 - Prix</h1>
						<h1 style="text-align: left"></h1>
						<p style="text-align: left">
							Les Produits sont fournis aux tarifs en vigueur figurant sur le site
							            http://pariscaretakerservices.fr&#xFEFF;, lors de l'enregistrement
							            de la commande par le Vendeur.
						</p>
						<p style="text-align: left">
							Les prix sont exprimés en Euros, HT et TTC.
						</p>
						<p style="text-align: left">
							Les tarifs tiennent compte d'éventuelles réductions qui seraient
							            consenties par le Vendeur sur le site
							            http://pariscaretakerservices.fr&#xFEFF;.
						</p>
						<p style="text-align: left">
							Ces tarifs sont fermes et non révisables pendant leur période de
							            validité mais le Vendeur se réserve&nbsp;le droit, hors période de
							            validité, d’en modifier les prix à tout moment.
						</p>
						<p style="text-align: left"></p>
						<p style="text-align: left">
							Les prix ne comprennent pas les frais de traitement, d'expédition,
							            de transport et de livraison, qui sont facturés en supplément, dans
							            les conditions indiquées sur le site et calculés préalablement à la
							            passation de la commande.
						</p>
						<p style="text-align: left">
							Le paiement demandé au Client correspond au montant total de
							            l'achat, y compris ces frais.
						</p>
						<p style="text-align: left">
							Une facture est établie par le Vendeur et remise au Client lors de
							            la livraison des Produits commandés.
						</p>
					</span>
					<span data-key="output-666-0">
						<p style="text-align: left"></p>
						<p style="text-align: left">
							Certaines commandes peuvent faire l'objet d'un devis préalablement
							            accepté. Les devis établis par le Vendeur sont valables pour une
							            durée de 1 mois&nbsp;après leur établissement.
						</p>
					</span>
					<span data-key="output-195-0">
						<h1 style="text-align: left"></h1>
						<h1 style="text-align: left">ARTICLE 3 – Commandes</h1>
						<h1 style="text-align: left"></h1>
						<p style="text-align: left">
							Il appartient au Client de sélectionner sur le site
							            http://pariscaretakerservices.fr &nbsp;les Produits qu'il désire
							            commander, selon les modalités suivantes :
						</p>
						<p style="text-align: left">
							Rendez-vous sur le site web de Paris Caretaker Services et
							            choisissez le bien qui vous intéresse parmi les différentes
							            destinations disponibles. Sélectionnez les dates auxquelles vous
							            souhaitez séjourner ainsi que la durée de votre séjour. Choisissez
							            le type de bien qui correspond à vos besoins et à votre budget.
							            Ajoutez des options supplémentaires à votre réservation selon vos
							            préférences. Vérifiez la disponibilité des réservations pour les
							            dates sélectionnées et assurez-vous que les options que vous avez
							            choisies sont disponibles. Une fois que vous avez sélectionné votre
							            appartement et les options supplémentaires, procédez au paiement en
							            ligne pour confirmer votre réservation. Une fois le paiement
							            effectué, vous recevrez une confirmation de réservation par e-mail.
							            Avant votre arrivée, assurez-vous de consulter les informations
							            pratiques fournies par Paris Caretaker Services, telles que les
							            horaires d'arrivée et de départ, les instructions pour accéder au
							            bien, etc. Le site vous fournira également des informations sur les
							            installations et les activités disponibles pendant votre séjour. Une
							            fois installé dans votre appartement, profitez des nombreuses
							            activités et installations proposées par le bien choisi..
						</p>
						<p style="text-align: left"></p>
						<p style="text-align: left">
							Les offres de Produits sont valables tant qu'elles sont visibles sur
							            le site, dans la limite des stocks disponibles.
						</p>
						<p style="text-align: left">
							La vente ne sera considérée comme valide qu’après paiement intégral
							            du prix. Il appartient au Client de vérifier l'exactitude de la
							            commande et de signaler immédiatement toute erreur.
						</p>
						<p style="text-align: left">
							Toute commande passée sur le site
							<span style="font-style: italic">http://pariscaretakerservices.fr&nbsp;</span>constitue la formation d'un contrat conclu à distance entre le
								            Client et le Vendeur.
						</p>
						<p style="text-align: left">
							Le Vendeur se réserve le droit d'annuler ou de refuser toute
							            commande d'un Client avec lequel il existerait un litige relatif au
							            paiement d'une commande antérieure.
						</p>
						<p style="text-align: left">
							Le Client pourra suivre l'évolution de sa commande sur le site.
						</p>
					</span>
					<span data-key="output-358-0">
						<p style="text-align: left"></p>
						<p style="text-align: left">
							Toute annulation de la commande par le Client après son acceptation
							            par le Vendeur ne sera possible que dans les 5 jours jours au plus
							            après acceptation de la commande par le Vendeur et tant que la
							            livraison n'a pas eu lieu (indépendamment des dispositions relatives
							            à l'application ou non du droit de rétractation légal).
						</p>
					</span>
					<span data-key="output-352-0">
						<h1 style="text-align: left"></h1>
						<h1 style="text-align: left">
							ARTICLE 3 Bis - Espace client - Compte
						</h1>
						<h1 style="text-align: left"></h1>
						<p style="text-align: left">
							Afin de passer commande, le Client est invité à créer un compte
							            (espace personnel).
						</p>
						<p style="text-align: left">
							Pour ce faire, il doit s’inscrire en remplissant le formulaire qui
							            lui sera proposé au moment de sa commande et s’engage à fournir des
							            informations sincères et exactes concernant son état civil et ses
							            coordonnées, notamment son adresse email.
						</p>
						<p style="text-align: left">
							Le Client est responsable de la mise à jour des informations
							            fournies. Il lui est précisé qu’il peut les modifier en se
							            connectant à son compte.
						</p>
						<p style="text-align: left">
							Pour accéder à son espace personnel et aux historiques de commande,
							            le Client devra s'identifier à l'aide de son nom d’utilisateur et de
							            son mot de passe qui lui seront communiqués après son inscription et
							            qui sont strictement personnels. A ce titre, le Client s’en interdit
							            toute divulgation. Dans le cas contraire, il restera seul
							            responsable de l’usage qui en sera fait.
						</p>
						<p style="text-align: left">
							Le Client pourra également solliciter sa désinscription en se
							            rendant à la page dédiée sur son espace personnel ou envoyant un
							            email à&nbsp;: _______________. Celle-ci sera effective dans un
							            délai raisonnable.
						</p>
						<p style="text-align: left"></p>
						<p style="text-align: left">
							En cas de non respect des conditions générales de vente et/ou
							            d’utilisation, le site http://pariscaretakerservices.fr aura la
							            possibilité de suspendre voire de fermer le compte d’un client après
							            mise en demeure adressée par voie électronique et restée sans effet.
						</p>
						<p style="text-align: left">
							Toute suppression de compte, quel qu’en soit le motif, engendre la
							            suppression pure et simple de toutes informations personnelles du
							            Client.
						</p>
						<p style="text-align: left">
							Tout événement dû à un cas de force majeure ayant pour conséquence
							            un dysfonctionnement du site ou serveur et sous réserve de toute
							            interruption ou modification en cas de maintenance, n'engage pas la
							            responsabilité du Vendeur.
						</p>
						<p style="text-align: left">
							La création du compte entraine l’acceptation des présentes
							            conditions générales de vente.
						</p>
					</span>
					<span data-key="output-667-0">
						<h1 style="text-align: left"></h1>
						<h1 style="text-align: left">ARTICLE 4 - Conditions de paiement</h1>
						<h1 style="text-align: left"></h1>
						<p style="text-align: left">
							Le prix est payé par voie de paiement sécurisé, selon les modalités
							            suivantes :
						</p>
					</span>
					<span data-key="output-668-0">
						<ul>
							<li style="text-align: left">paiement par carte bancaire</li>
						</ul>
					</span>
					<span data-key="output-670-0">
						<ul>
							<li style="text-align: left">
								ou paiement par virement bancaire sur le compte bancaire du
								              Vendeur (dont les coordonnées sont communiquées au Client lors de
								              la passation de la commande)
							</li>
						</ul>
					</span>
					<span data-key="output-671-0">
						<p style="text-align: left"></p>
						<p style="text-align: left">
							Le prix est payable comptant par le Client, en totalité au jour de
							            la pasation de la commande.
						</p>
					</span>
					<span data-key="output-672-0">
						<p style="text-align: left"></p>
						<p style="text-align: left">
							Toutefois, le Client pourra, lorsque cette possibilité est indiquée
							            sur le site http://pariscaretakerservices.fr, payer selon les
							            conditions et l'échéancier suivants :
						</p>
						<p style="text-align: left">
							3 fois ou 4 fois une fois par mois. Les paiements sont tous égaux..
						</p>
						<p style="text-align: left"></p>
						<p style="text-align: left">
							Dans ce cas, en cas de retard de paiement et de versement des sommes
							            dues par le Client au-delà des délais ci-dessus fixés, et après la
							            date de paiement figurant sur la facture adressée à celui-ci, des
							            pénalités de retard calculées au taux légal applicable au montant
							            TTC du prix d'acquisition figurant sur ladite facture, seront
							            acquises automatiquement et de plein droit au Vendeur, sans
							            formalité aucune ni mise en demeure préalable.
						</p>
						<p style="text-align: left">
							Le retard de paiement entraînera l'exigibilité immédiate de
							            l'intégralité des sommes dues par le Client, sans préjudice de toute
							            autre action que le Vendeur serait en droit d'intenter, à ce titre,
							            à l'encontre du Client.
						</p>
						<p style="text-align: left">
							En outre, le Vendeur se réserve le droit, en cas de non respect des
							            conditions de paiement figurant ci-dessus, de suspendre ou d'annuler
							            la livraison des commandes en cours effectuées par le Client.
						</p>
					</span>
					<span data-key="output-300-0">
						<p style="text-align: left"></p>
						<p style="text-align: left">
							Les données de paiement sont échangées en mode crypté grâce au
							            protocole défini par le prestataire de paiement agréé intervenant
							            pour les transactions bancaires réalisée sur le site
							            http://pariscaretakerservices.fr.
						</p>
					</span>
					<span data-key="output-298-0">
						<p style="text-align: left"></p>
						<p style="text-align: left">
							Les paiements effectués par le Client ne seront considérés comme
							            définitifs qu'après encaissement effectif par le Vendeur des sommes
							            dues.
						</p>
						<p style="text-align: left">
							Le Vendeur ne sera pas tenu de procéder à la délivrance des Produits
							            commandés par le Client si celui-ci ne lui en paye pas le prix en
							            totalité dans les conditions ci-dessus indiquées.
						</p>
					</span>
					<span data-key="output-253-0">
						<h1 style="text-align: left"></h1>
						<h1 style="text-align: left">ARTICLE 5 - Livraisons</h1>
						<h1 style="text-align: left"></h1>
					</span>
					<span data-key="output-685-0">
						<p style="text-align: left">
							Les Produits commandés par le Client seront livrés en France
							            métropolitaine.
						</p>
					</span>
					<span data-key="output-686-0">
						<p style="text-align: left"></p>
						<p style="text-align: left">
							Les livraisons interviennent dans un délai de aucun.&nbsp;à
							            l'adresse indiquée par le Client lors de sa commande sur le site.
						</p>
						<p style="text-align: left">
							La livraison est constituée par le transfert au Client de la
							            possession physique ou du contrôle du Produit. Sauf cas particulier
							            ou indisponibilité d'un ou plusieurs Produits, les Produits
							            commandés seront livrés en une seule fois.
						</p>
						<p style="text-align: left">
							Le Vendeur s'engage à faire ses meilleurs efforts pour livrer les
							            produits commandés par le Client dans les délais ci-dessus précisés.
						</p>
					</span>
					<span data-key="output-687-0">
						<p style="text-align: left"></p>
						<p style="text-align: left">
							Si les Produits commandés n'ont pas été livrés dans un délai de 5
							            jours après la date indicative de livraison, pour toute autre cause
							            que la force majeure ou le fait du Client, la vente pourra être
							            résolue à la demande écrite du Client dans les conditions prévues
							            aux articles L 216-2, L 216-3 et L241-4 du Code de la consommation.
							            Les sommes versées par le Client lui seront alors restituées au plus
							            tard dans les quatorze jours qui suivent la date de dénonciation du
							            contrat, à l'exclusion de toute indemnisation ou retenue.
						</p>
					</span>
					<span data-key="output-690-0">
						<p style="text-align: left"></p>
						<p style="text-align: left">
							En cas de demande particulière du Client concernant les conditions
							            d'emballage ou de transport des produits commandés, dûment acceptées
							            par écrit par le Vendeur, les coûts y liés feront l'objet d'une
							            facturation spécifique complémentaire, sur devis préalablement
							            accepté par écrit par le Client.
						</p>
						<p style="text-align: left">
							Le Client est tenu de vérifier l'état des produits livrés. Il
							            dispose d'un délai de
							<span style="font-style: italic">5 jours</span>&nbsp;à compter de la
								            livraison pour formuler des réclamations par<span style="font-style: italic">
								Réclamation par ticket sur le site</span>, accompagnées de tous les justificatifs y afférents (photos
								            notamment). Passé ce délai et à défaut d'avoir respecté ces
								            formalités, les Produits seront réputés conformes et exempts de tout
								            vice apparent et aucune réclamation ne pourra être valablement
								            acceptée par le Vendeur.
						</p>
						<p style="text-align: left">
							Le Vendeur remboursera ou remplacera dans les plus brefs délais et à
							            ses frais, les Produits livrés dont les défauts de conformité ou les
							            vices apparents ou cachés auront été dûment prouvés par le Client,
							            dans les conditions prévues aux articles L 217-4 et suivants du Code
							            de la consommation et celles prévues aux présentes CGV.
						</p>
					</span>
					<span data-key="output-250-0">
						<p style="text-align: left"></p>
						<p style="text-align: left">
							Le transfert des risques de perte et de détérioration s'y
							            rapportant, ne sera réalisé qu'au moment où le Client prendra
							            physiquement possession des Produits. Les Produits voyagent donc aux
							            risques et périls du Vendeur sauf lorsque le Client aura lui-même
							            choisi le transporteur. A ce titre, les risques sont transférés au
							            moment de la remise du bien au transporteur.
						</p>
						<h1 style="text-align: left"></h1>
						<h1 style="text-align: left">ARTICLE 6 - Transfert de propriété</h1>
						<h1 style="text-align: left"></h1>
					</span>
					<span data-key="output-692-0">
						<p style="text-align: left">
							Le transfert de propriété des Produits du Vendeur au Client ne sera
							            réalisé qu'après complet paiement du prix par ce dernier, et ce
							            quelle que soit la date de livraison desdits Produits.
						</p>
					</span>
					<span data-key="output-693-0">
						<h1 style="text-align: left"></h1>
						<h1 style="text-align: left">ARTICLE 7 - Droit de rétractation</h1>
						<h1 style="text-align: left"></h1>
					</span>
					<span data-key="output-695-0">
						<p style="text-align: left">
							Compte tenu de la nature des Produits vendus, les commandes passées
							            par le Client ne bénéficient pas du droit de rétractation.
						</p>
						<p style="text-align: left">
							Le contrat est donc conclu de façon définitive dès la passation de
							            la commande par le Client selon les modalités précisées aux
							            présentes CGV.
						</p>
					</span>
					<span data-key="output-696-0">
						<h1 style="text-align: left"></h1>
						<h1 style="text-align: left">
							ARTICLE 8 - Responsabilité du Vendeur - Garanties
						</h1>
						<h1 style="text-align: left"></h1>
						<p style="text-align: left">
							Les Produits fournis par le Vendeur bénéficient&nbsp;:
						</p>
						<ul>
							<li style="text-align: left">
								de la garantie légale de conformité, pour les Produits défectueux,
								              abîmés ou endommagés ou ne correspondant pas à la commande,
							</li>
						</ul>
						<ul>
							<li style="text-align: left">
								de la garantie légale contre les vices cachés provenant d'un
								              défaut de matière, de conception ou de fabrication affectant les
								              produits livrés et les rendant impropres à l'utilisation,
							</li>
						</ul>
						<p style="text-align: left">
							<span style="font-style: italic; text-decoration: underline"></span>
						</p>
						<p style="text-align: left">
							<span style="font-style: italic; text-decoration: underline">Dispositions relatives aux garanties légales</span>
						</p>
						<p style="text-align: left">
							Article L217-4 du Code de la consommation
						</p>
						<p style="text-align: left">
							<span style="font-style: italic">«&nbsp;Le vendeur est tenu de livrer un bien conforme au contrat
								              et répond des défauts de conformité existant lors de la
								              délivrance. Il répond également des défauts de conformité
								              résultant de l'emballage, des instructions de montage ou de
								              l'installation lorsque celle-ci a été mise à sa charge par le
								              contrat ou a été réalisée sous sa responsabilité.&nbsp;»</span>
						</p>
						<p style="text-align: left">
							Article L217-5 du Code de la consommation
						</p>
						<p style="text-align: left">
							<span style="font-style: italic">«&nbsp;Le bien est conforme au contrat :</span>
						</p>
						<p style="text-align: left">
							<span style="font-style: italic">1° S'il est propre à l'usage habituellement attendu d'un bien
								              semblable et, le cas échéant :</span>
						</p>
						<p style="text-align: left">
							<span style="font-style: italic">- s'il correspond à la description donnée par le vendeur et
								              possède les qualités que celui-ci a présentées à l'acheteur sous
								              forme d'échantillon ou de modèle ;</span>
						</p>
						<p style="text-align: left">
							<span style="font-style: italic">- s'il présente les qualités qu'un acheteur peut légitimement
								              attendre eu égard aux déclarations publiques faites par le
								              vendeur, par le producteur ou par son représentant, notamment dans
								              la publicité ou l'étiquetage ;</span>
						</p>
						<p style="text-align: left">
							<span style="font-style: italic">2° Ou s'il présente les caractéristiques définies d'un commun
								              accord par les parties ou est propre à tout usage spécial
								              recherché par l'acheteur, porté à la connaissance du vendeur et
								              que ce dernier a accepté.&nbsp;»</span>
						</p>
						<p style="text-align: left">
							Article L217-12 du Code de la consommation
						</p>
						<p style="text-align: left">
							<span style="font-style: italic">«&nbsp;L'action résultant du défaut de conformité se prescrit par
								              deux ans à compter de la délivrance du bien.&nbsp;»</span>
						</p>
						<p style="text-align: left">Article 1641 du Code civil.</p>
						<p style="text-align: left">
							<span style="font-style: italic">«&nbsp;Le vendeur est tenu de la garantie à raison des défauts
								              cachés de la chose vendue qui la rendent impropre à l'usage auquel
								              on la destine, ou qui diminuent tellement cet usage, que
								              l'acheteur ne l'aurait pas acquise, ou n'en aurait donné qu'un
								              moindre prix, s'il les avait connus.&nbsp;»</span>
						</p>
						<p style="text-align: left">Article 1648 alinéa 1er du Code civil</p>
						<p style="text-align: left">
							<span style="font-style: italic">«&nbsp;L'action résultant des vices rédhibitoires doit être
								              intentée par l'acquéreur dans un délai de deux ans à compter de la
								              découverte du vice.&nbsp;»</span>
						</p>
						<p style="text-align: left">
							Article L217-16 du Code de la consommation.
						</p>
						<p style="text-align: left">
							<span style="font-style: italic">«&nbsp;Lorsque l'acheteur demande au vendeur, pendant le cours de
								              la garantie commerciale qui lui a été consentie lors de
								              l'acquisition ou de la réparation d'un bien meuble, une remise en
								              état couverte par la garantie, toute période d'immobilisation d'au
								              moins sept jours vient s'ajouter à la durée de la garantie qui
								              restait à courir. Cette période court à compter de la demande
								              d'intervention de l'acheteur ou de la mise à disposition pour
								              réparation du bien en cause, si cette mise à disposition est
								              postérieure à la demande d'intervention.&nbsp;»</span>
						</p>
						<p style="text-align: left">
							Afin de faire valoir ses droits, le Client devra informer le
							            Vendeur, par écrit (mail ou courrier), de la non-conformité des
							            Produits ou de l'existence des vices cachés à compter de leur
							            découverte.
						</p>
						<p style="text-align: left">
							Le Vendeur remboursera, remplacera ou fera réparer les Produits ou
							            pièces sous garantie jugés non conformes ou défectueux.
						</p>
						<p style="text-align: left">
							Les frais d'envoi seront remboursés sur la base du tarif facturé et
							            les frais de retour seront remboursés sur présentation des
							            justificatifs.
						</p>
						<p style="text-align: left">
							Les remboursements, remplacements ou réparations des Produits jugés
							            non conformes ou défectueux seront effectués dans les meilleurs
							            délais et au plus tard dans les 14 jours jours suivant la
							            constatation par le Vendeur du défaut de conformité ou du vice
							            caché. Ce remboursement pourra être fait par virement ou chèque
							            bancaire.
						</p>
						<p style="text-align: left">
							La responsabilité du Vendeur ne saurait être engagée dans les cas
							            suivants :
						</p>
						<ul>
							<li style="text-align: left">
								non respect de la législation du pays dans lequel les produits
								              sont livrés, qu'il appartient au Client de vérifier,
							</li>
							<li style="text-align: left">
								en cas de mauvaise utilisation, d'utilisation à des fins
								              professionnelles, négligence ou défaut d'entretien de la part du
								              Client, comme en cas d'usure normale du Produit, d'accident ou de
								              force majeure.
							</li>
							<li style="text-align: left">
								Les photographies et graphismes présentés sur le site ne sont pas
								              contractuels et ne sauraient engager la responsabilité du Vendeur.
							</li>
						</ul>
						<p style="text-align: left">
							La garantie du Vendeur est, en tout état de cause, limitée au
							            remplacement ou au remboursement des Produits non conformes ou
							            affectés d'un vice.
						</p>
					</span>
					<span data-key="output-697-0">
						<p style="text-align: left">
							<span style="font-style: italic; text-decoration: underline"></span>
						</p>
						<p style="text-align: left">
							<span style="font-style: italic; text-decoration: underline">Dispositions relatives à la garantie contractuelle</span>
						</p>
						<p style="text-align: left">
							Les Produits achetés sur le site
							            http://pariscaretakerservices.fr&nbsp;peuvent bénéficier, outre les
							            garanties légales de conformité et des vices cachés d'une garantie
							            contractuelle comme indiqué le cas échéant au descriptif d'un
							            Produit donné, selon les termes, conditions et tarifs
							            suivants&nbsp;:
						</p>
						<p style="text-align: left">_______________</p>
						<p style="text-align: left">
							Cette garantie contractuelle couvre les situations suivantes :
						</p>
						<p style="text-align: left">_______________</p>
						<p style="text-align: left">
							Cette garantie est exclue dans les situations suivantes :
						</p>
						<p style="text-align: left">_______________</p>
						<p style="text-align: left">
							Elle est applicable dans les conditions suivantes&nbsp;:
						</p>
						<p style="text-align: left">_______________</p>
					</span>
					<span data-key="output-698-0">
						<h1 style="text-align: left"></h1>
						<h1 style="text-align: left">ARTICLE 9 - Données personnelles</h1>
						<h1 style="text-align: left"></h1>
					</span>
					<span data-key="output-700-0">
						<p style="text-align: left">
							Le Client est informé que la collecte de ses données à caractère
							            personnel est nécessaire à la vente des Produits par le Vendeur
							            ainsi qu'à leur transmission à des tiers à des fins de livraison des
							            Produits. Ces données à caractère personnel&nbsp;sont récoltées
							            uniquement pour l’exécution du contrat de vente.
						</p>
					</span>
					<span data-key="output-702-0">
						<p style="text-align: left">
							<span style="font-weight: bold"></span>
						</p>
						<p style="text-align: left">
							<span style="font-weight: bold">9.1 Collecte des données à caractère personnel</span>
						</p>
						<p style="text-align: left">
							<span style="font-weight: bold"></span>
						</p>
						<p style="text-align: left">
							Les données à caractère personnel qui sont collectées sur le site
							            http://pariscaretakerservices.fr sont les suivantes&nbsp;:
						</p>
						<p style="text-align: left">
							<span style="font-weight: bold"></span>
						</p>
						<p style="text-align: left">
							<span style="font-weight: bold">Ouverture de compte</span>
						</p>
						<p style="text-align: left">
							Lors de la création du compte Client / utilisateur :&nbsp;
						</p>
					</span>
					<span data-key="output-703-0">
						<p style="text-align: left">
							Noms, prénoms, adresse postale, numéro de téléphone et adresse
							            e-mail.
						</p>
					</span>
					<span data-key="output-631-0">
						<p style="text-align: left">
							<span style="font-weight: bold"></span>
						</p>
						<p style="text-align: left">
							<span style="font-weight: bold">Paiement</span>
						</p>
						<p style="text-align: left">
							Dans le cadre du paiement des Produits proposés sur le site
							            http://pariscaretakerservices.fr, celui-ci enregistre des données
							            financières relatives au compte bancaire ou à la carte de crédit du
							            Client / utilisateur.
						</p>
					</span>
					<span data-key="output-709-0">
						<p style="text-align: left">
							<span style="font-weight: bold"></span>
						</p>
						<p style="text-align: left">
							<span style="font-weight: bold">9.2 Destinataires des données à caractère personnel</span>
						</p>
					</span>
					<span data-key="output-711-0">
						<p style="text-align: left">
							Les données à caractère personnel sont utilisées par le Vendeur et
							            ses co-contractants pour l’exécution du contrat et pour assurer
							            l’efficacité de la prestation de&nbsp;vente et de délivrance des
							            Produits.
						</p>
						<p style="text-align: left">
							La ou les catégorie(s) de co-contractant(s) est (sont) :
						</p>
					</span>
					<span data-key="output-712-0">
						<ul>
							<li style="text-align: left">Les prestataires de transport</li>
						</ul>
					</span>
					<span data-key="output-713-0">
						<ul>
							<li style="text-align: left">
								Les prestataires établissements de paiement
							</li>
						</ul>
					</span>
					<span data-key="output-714-0">
						<ul>
							<li style="text-align: left">
								Prestataires de nettoyage<br/>Prestataires de services sur maison
							</li>
						</ul>
					</span>
					<span data-key="output-637-0">
						<p style="text-align: left">
							<span style="font-weight: bold"></span>
						</p>
						<p style="text-align: left">
							<span style="font-weight: bold">9.3 Responsable de traitement</span>
						</p>
					</span>
					<span data-key="output-715-0">
						<p style="text-align: left">
							Le responsable de traitement des données est le Vendeur,&nbsp;au
							            sens de la loi Informatique et libertés et à compter du 25 mai 2018
							            du Règlement 2016/679 sur la protection des données à caractère
							            personnel.
						</p>
					</span>
					<span data-key="output-719-0">
						<p style="text-align: left">
							<span style="font-weight: bold"></span>
						</p>
						<p style="text-align: left">
							<span style="font-weight: bold">9.4 limitation du traitement</span>
						</p>
						<p style="text-align: left">
							Sauf si le Client exprime son accord exprès, ses données à caractère
							            personnelles ne sont pas utilisées à des fins publicitaires ou
							            marketing.
						</p>
						<p style="text-align: left">
							<span style="font-weight: bold"></span>
						</p>
						<p style="text-align: left">
							<span style="font-weight: bold">9.5 Durée de conservation des données</span>
						</p>
						<p style="text-align: left">
							Le Vendeur conservera les données ainsi recueillies pendant un délai
							            de 5 ans, couvrant le temps de la prescription de la responsabilité
							            civile contractuelle applicable.
						</p>
						<p style="text-align: left">
							<span style="font-weight: bold"></span>
						</p>
						<p style="text-align: left">
							<span style="font-weight: bold">9.6 Sécurité et confidentialité</span>
						</p>
						<p style="text-align: left">
							Le Vendeur met en œuvre des mesures organisationnelles, techniques,
							            logicielles et physiques en matière de sécurité du numérique pour
							            protéger les données personnelles contre les altérations,
							            destructions et accès non autorisés. Toutefois il est à signaler
							            qu’Internet n’est pas un environnement complètement sécurisé et le
							            Vendeur ne peut garantir la sécurité de la transmission ou du
							            stockage des informations sur Internet.
						</p>
						<p style="text-align: left">
							<span style="font-weight: bold"></span>
						</p>
						<p style="text-align: left">
							<span style="font-weight: bold">9.7 Mise en œuvre des droits des Clients et utilisateurs</span>
						</p>
						<p style="text-align: left">
							En application de la règlementation applicable aux données à
							            caractère personnel, les Clients et utilisateurs du site
							            http://pariscaretakerservices.fr disposent des droits
							            suivants&nbsp;:
						</p>
						<ul>
							<li style="text-align: left">
								Ils peuvent mettre à jour ou supprimer les données qui lesconcernent de la manière suivante :
							</li>
						</ul>
						<p style="text-align: left">
							En se connectant à son compte, puis en supprimant son compte..
						</p>
						<ul>
							<li style="text-align: left">
								Ils peuvent supprimer leur compte en écrivant à l’adresse
								              électronique indiqué à l’article 9.3 «&nbsp;Responsable de
								              traitement&nbsp;»
							</li>
						</ul>
						<ul>
							<li style="text-align: left">
								Ils peuvent exercer leur droit d’accès pour connaître les données
								              personnelles les concernant en écrivant à l’adresse indiqué à
								              l’article 9.3 «&nbsp;Responsable de traitement&nbsp;»
							</li>
						</ul>
						<ul>
							<li style="text-align: left">
								Si les données à caractère personnel détenues par le Vendeur sont
								              inexactes, ils peuvent demander la mise à jour des informations
								              des informations en écrivant à l’adresse indiqué à l’article 9.3
								              «&nbsp;Responsable de traitement&nbsp;»
							</li>
						</ul>
						<ul>
							<li style="text-align: left">
								Ils peuvent demander la suppression de leurs données à caractère
								              personnel, conformément aux lois applicables en matière de
								              protection des données en écrivant à l’adresse indiqué à l’article
								              9.3 «&nbsp;Responsable de traitement&nbsp;»
							</li>
						</ul>
						<ul>
							<li style="text-align: left">
								Ils&nbsp;peuvent également solliciter la portabilité des données
								              détenues par le Vendeur vers un autre prestataire
							</li>
						</ul>
						<ul>
							<li style="text-align: left">
								Enfin, ils&nbsp;peuvent s’opposer au traitement de leurs données
								              par le Vendeur
							</li>
						</ul>
						<p style="text-align: left">
							Ces droits, dès lors qu’ils ne s’opposent pas à la finalité du
							            traitement, peuvent être exercé en adressant une demande par
							            courrier ou par E-mail au Responsable de traitement dont les
							            coordonnées sont indiquées ci-dessus.
						</p>
						<p style="text-align: left">
							Le responsable de traitement doit apporter une réponse dans un délai
							            maximum d’un mois.
						</p>
						<p style="text-align: left">
							En cas de refus de faire droit à la demande du Client, celui-ci doit
							            être motivé.
						</p>
						<p style="text-align: left">
							Le Client est informé qu’en cas de refus, il peut introduire une
							            réclamation auprès de la CNIL (3 place de Fontenoy, 75007 PARIS) ou
							            saisir une autorité judiciaire.
						</p>
						<p style="text-align: left">
							Le Client peut être invité à cocher une case au titre de laquelle il
							            accepte de recevoir des mails à caractère informatifs et
							            publicitaires de la part du Vendeur. Il aura toujours la possibilité
							            de retirer son accord à tout moment en contactant le Vendeur
							            (coordonnées ci-dessus) ou en suivant le lien de désabonnement.
						</p>
					</span>
					<span data-key="output-243-0">
						<h1 style="text-align: left"></h1>
						<h1 style="text-align: left">
							ARTICLE 10 - Propriété intellectuelle
						</h1>
						<h1 style="text-align: left"></h1>
						<p style="text-align: left">
							Le contenu du site http://pariscaretakerservices.fr&nbsp;est la
							            propriété du Vendeur et de ses partenaires et est protégé par les
							            lois françaises et internationales relatives à la propriété
							            intellectuelle.
						</p>
						<p style="text-align: left">
							Toute reproduction totale ou partielle de ce contenu est strictement
							            interdite et est susceptible de constituer un délit de contrefaçon.
						</p>
						<h1 style="text-align: left"></h1>
						<h1 style="text-align: left">
							ARTICLE 11 - Droit applicable - Langue
						</h1>
						<h1 style="text-align: left"></h1>
						<p style="text-align: left">
							Les présentes CGV et les opérations qui en découlent sont régies et
							            soumises au droit français.
						</p>
						<p style="text-align: left">
							Les présentes CGV sont rédigées en langue française. Dans le cas où
							            elles seraient traduites en une ou plusieurs langues étrangères,
							            seul le texte français ferait foi en cas de litige.
						</p>
					</span>
					<span data-key="output-720-0">
						<h1 style="text-align: left"></h1>
						<h1 style="text-align: left">ARTICLE 12 - Litiges</h1>
						<h1 style="text-align: left"></h1>
						<p style="text-align: left">
							Pour toute réclamation merci de contacter le service clientèle à
							            l’adresse postale ou mail du Vendeur indiquée à l’ARTICLE 1 des
							            présentes CGV.
						</p>
						<p style="text-align: left">
							Le Client est informé qu'il peut en tout état de cause recourir à
							            une médiation conventionnelle, auprès des instances de médiation
							            sectorielles existantes&nbsp;ou à tout mode alternatif de règlement
							            des différends (conciliation, par exemple) en cas de
							            contestation.&nbsp;
						</p>
						<p style="text-align: left">En l’espèce, le médiateur désigné est</p>
						<p style="text-align: left">_______________</p>
						<p style="text-align: left">_______________</p>
						<p style="text-align: left">_______________</p>
						<p style="text-align: left">E-mail : _______________.&nbsp;</p>
						<p style="text-align: left">
							Le Client est également informé qu’il peut, également recourir à la
							            plateforme de Règlement en Ligne des Litige (RLL)
							            :https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show
						</p>
						<p style="text-align: left">
							Tous les litiges auxquels les opérations d'achat et de vente
							            conclues en application des présentes CGV et qui n’auraient pas fait
							            l’objet d’un règlement amiable entre le vendeur ou par médiation,
							            seront soumis aux tribunaux compétents dans les conditions de droit
							            commun.
						</p>
						<p style="text-align: left"></p>
						<p style="text-align: left">
							Réalisé sur https://www.legalplace.fr
						</p>
					</span>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
