{% extends 'base.html.twig' %}
{% block body %}
    <div class="row text-white py-5 d-flex bg-info">
        <div class="fs-1 mt-5 text-center pt-5">
        Contactez-nous
        </div>
		<div class="fs-1 mb-5 text-center pb-5">
        Du Lundi au Vendredi de 10h à 18h
        </div>
    </div>
	<div class="row mt-5">
		<div class="col display-1 d-flex flex-column justify-content-center">
            <i class="text-center bi bi-telephone-fill"></i>
            <div class=" text-center fs-5">Appelez-nous au 06XXXXXXXX ( Du Lundi au Vendredi de 10h à 18h )</div>
        </div>
        <div class="col-1 d-flex justify-content-center" >
            <div class="vr" style="height: 200px;"></div>
        </div>
        <div class="col display-1 d-flex flex-column justify-content-center">
            <i class="text-center bi bi-chat-dots"></i>
            <div class=" text-center fs-5">Posez-nous toutes vos questions en cliquant sur le chat en bas à gauche de chaque page</div>
        </div>
        <div class="col-1 d-flex justify-content-center" >
            <div class="vr" style="height: 200px;"></div>
        </div>
        <div class="col display-1 d-flex flex-column justify-content-center">
            <i class="text-center bi bi-envelope"></i>
            <div class=" text-center fs-5">écrivez-nous sur l'adresse mail: contact@pariscaretekerservices.fr</div>
        </div>
		
	</div>
        

	


{% endblock %}
