{% extends 'base.html.twig' %}
{% block body %}
	<div class="row">
    <div class="col text-white my-5 d-flex align-items-center justify-content-center bg-info">
        <div class="fs-1">
        Contactez-nous
        </div>
		<div class="fs-1">
        Du Lundi au Vendredi de 10h à 18h
        </div>
    </div>
	</div>
        

	<style>
    .rectangle {
        
        height: 300px; 
        color: white; 
        text-align: center; 
    }
	</style>


{% endblock %}
