{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_content %}
    <div class="container">
        <h1>Abonnement Details</h1>

        <form method="POST">
            {{ form_start(form) }}
            {{ form_row(form.nom) }}
            <button type="submit" class="btn btn-primary">{{"save"|trans}}</button>
            {{ form_end(form) }}
        </form>
    </div>
{% endblock %}