{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_content %}
    <div class="container">
        <h1>Abonnement Details</h1>

        {# <form action="{{ path('update_abonnement', {'id': abonnement.id}) }}" method="POST">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit">Save</button>
            {{ form_end(form) }}
        </form> #}
    </div>
{% endblock %}