{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_content %}
	<h2>Contenu actuel</h2>
	<div class="table-responsive">
		<table class="table table-bordered table-hover align-middle text-center">
			<thead>
				<tr>
                    <th></th>
					<th><img src="https://placehold.co/300x200" class="card-img-top" alt="...">Normal</th>
					<th><img src="https://placehold.co/300x200" class="card-img-top" alt="...">Visiteur</th>
					<th><img src="https://placehold.co/300x200" class="card-img-top" alt="...">Super-Voyageur</th>
					<th><img src="https://placehold.co/300x200" class="card-img-top" alt="...">Voyageur professionnel</th>
				</tr>
			</thead>
			<tbody>
                <tr>
                    <td>Gratuit ?</td>
                    <td>{% if random(1,2) == 1 %} <i class="fa fa-check text-success fa-3x"></i>{% else %}<i class="fa fa-times text-danger fa-3x"></i>{% endif %}</td>
                    <td>{% if random(1,2) == 1 %} <i class="fa fa-check text-success fa-3x"></i>{% else %}<i class="fa fa-times text-danger fa-3x"></i>{% endif %}</td>
                    <td>{% if random(1,2) == 1 %} <i class="fa fa-check text-success fa-3x"></i>{% else %}<i class="fa fa-times text-danger fa-3x"></i>{% endif %}</td>
                    <td>{% if random(1,2) == 1 %} <i class="fa fa-check text-success fa-3x"></i>{% else %}<i class="fa fa-times text-danger fa-3x"></i>{% endif %}</td>
                </tr>
                <tr>
                    <td>Avec avantages ?</td>
                    <td>{% if random(1,2) == 1 %} <i class="fa fa-check text-success fa-3x"></i>{% else %}<i class="fa fa-times text-danger fa-3x"></i>{% endif %}</td>
                    <td>{% if random(1,2) == 1 %} <i class="fa fa-check text-success fa-3x"></i>{% else %}<i class="fa fa-times text-danger fa-3x"></i>{% endif %}</td>
                    <td>{% if random(1,2) == 1 %} <i class="fa fa-check text-success fa-3x"></i>{% else %}<i class="fa fa-times text-danger fa-3x"></i>{% endif %}</td>
                    <td>{% if random(1,2) == 1 %} <i class="fa fa-check text-success fa-3x"></i>{% else %}<i class="fa fa-times text-danger fa-3x"></i>{% endif %}</td>

                </tr>
                <tr>
                    <td>Compatible VIP ?</td>
                    <td>{% if random(1,2) == 1 %} <i class="fa fa-check text-success fa-3x"></i>{% else %}<i class="fa fa-times text-danger fa-3x"></i>{% endif %}</td>
                    <td>{% if random(1,2) == 1 %} <i class="fa fa-check text-success fa-3x"></i>{% else %}<i class="fa fa-times text-danger fa-3x"></i>{% endif %}</td>
                    <td>{% if random(1,2) == 1 %} <i class="fa fa-check text-success fa-3x"></i>{% else %}<i class="fa fa-times text-danger fa-3x"></i>{% endif %}</td>
                    <td>{% if random(1,2) == 1 %} <i class="fa fa-check text-success fa-3x"></i>{% else %}<i class="fa fa-times text-danger fa-3x"></i>{% endif %}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><a href="#" class="btn btn-primary">Modifier</a></td>
                    <td><a href="#" class="btn btn-primary">Modifier</a></td>
                    <td><a href="#" class="btn btn-primary">Modifier</a></td>
                    <td><a href="#" class="btn btn-primary">Modifier</a></td>
            </tbody>
        </table>
        <a href="#" class="btn btn-primary">Ajouter un nouveau niveau d'abonnement</a>
		</div>
	{% endblock %}
