{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
  <div class="row bg-info">
    <div class="col-4 " >
      <img src="{{ asset('brand/PCS_Logo/White_Full.png') }}" alt="logo" class="img-fluid">
    </div>
    <div class="col-8 d-flex align-items-center">
      <p>Paris Caretaker Services (PCS) est une chaîne de conciergeries immobilières assurant une offre de
      gestion locative saisonnière (type AirBnB), créée à Paris en 2018. La société a connu une croissance
      rapide depuis sa création, principalement en raison de la qualité de son accueil et de la richesse de ses
      prestations.
      Elle offre des services allant de la gestion des réservations jusqu'à l’entretien du bien immobilier pour
      le compte du propriétaire, en passant par l’accueil des clients. Ainsi, de nombreux bailleurs peuvent louer 
      leurs logements sans avoir à gérer les différentes charges inhérentes à la location.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <a href="{{ path('index') }}" class="col-md-4 py-1 text-decoration-none">
        <div class="card">
          <div class="card-body">
            <img src="https://placehold.co/300x200" class="card-img-top" alt="...">
            <h4></h4>
            <small></small>
          </div>
        </div>
		  </a>
    </div>
    <div class="col-4">
      <a href="{{ path('index') }}" class="col-md-4 py-1 text-decoration-none">
        <div class="card">
          <div class="card-body">
            <img src="https://placehold.co/300x200" class="card-img-top" alt="...">
            <h4></h4>
            <small></small>
          </div>
        </div>
		  </a>
    </div>
    <div class="col-4">
      <a href="{{ path('index') }}" class="col-md-4 py-1 text-decoration-none">
        <div class="card">
          <div class="card-body">
            <img src="https://placehold.co/300x200" class="card-img-top" alt="...">
            <h4></h4>
            <small></small>
          </div>
        </div>
		  </a>
    </div>
  </div>  
{% endblock %}